body{
    margin: auto;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #f5f5f5;
}
nav{
    text-align: center;
    background-color: #333;
    color: white;
    padding: 10px 20px;
}
#form {
    margin: auto;
    height: 300px;
    width: 200px;
    align-items: flex-start;
    font-size: 17px;
}
#ramen-menu {
    width: 1300px;
    margin: auto;
    justify-content: center;
}
#ramen-detail {
    justify-content: center;
    margin: auto;
    width: 300px;
}
h3 {
    color: rgb(43, 7, 7);
    font-family: Arial, Helvetica, sans-serif;
}